.container {
    background-color: blue;
    height: 80vh;
    display: flex;
    border-radius: 16px;

        
}
      

.container >.grid > img {
    background-color: blueviolet;
    border-radius: 32px;
    min-width: 100%;
    height: auto;
    object-fit: contain;
  
}

.container>.grid>div>h1 {
    display: flex;
    align-items: center;
    font-style: oblique;
    

}
