@import url(nav.css);
@import url(passions.css);
@import url(container.css);
@import url(about.css);
@import url(contact.css);
@import url(passion_1.css);
@import url(kitchen.css);
@import url(poker.css);
@import url(projet.css);
header {
    width: 100vw;
    position: relative;
}

/* * {
    border: 1px solid red;
} */

.secondary {
    display: flex;
    justify-content: space-between;
    gap: 6px;;
}